<div ngClass="first" *ngIf="visible === 1">
    <p>Are you ready to take your job seeking to the next level?</p>
    <p>Start by completing our registration form: </p>
    <form [formGroup]="registerForm">
        <input formControlName="firstName" placeholder="First Name">
        <input formControlName="lastName" placeholder="Last Name">
        <input formControlName="email" placeholder="Email">
        <br />
        <label>How would you like your page URL to look like? <em>website.com/url</em></label>
        <br>
        <input formControlName="url" placeholder="url">
    </form>
    <div ngClass="buttons">
        <button color="primary" (click)="cancel()">Cancel</button>
        <button color="primary" (click)="setVisible(2)">Join existing company</button>
        <button color="primary" (click)="setVisible(3)">Create company</button>
    </div>
</div>

<div ngClass="second" *ngIf="visible === 2">
    <p>Join an existing company</p>

    <form [formGroup]="registerForm">
        <app-auto-complete [allSuggestions]="allSuggestions" (textEmitter)="onChangeJoinedCompany($event)"></app-auto-complete>
    </form>

    <div ngClass="buttons">
        <button color="primary" (click)="setVisible(1)">Back</button>
        <button color="primary" (click)="nextJoiner()">Next</button>
    </div>
</div>

<div ngClass="third" *ngIf="visible === 3">
    <p>Create your company</p>

    <form [formGroup]="companyForm">
        <input formControlName="companyName" placeholder="Company Name">
        <input formControlName="companyLocation" placeholder="Location">
        <br />
        <textarea formControlName="companyDescription"
            placeholder="Description"></textarea>
    </form>
    
    <div ngClass="buttons">
        <button color="primary" (click)="setVisible(1)">Back</button>
        <button color="primary" (click)="nextCreator()">Next</button>
    </div>
</div>

<div *ngIf="visible === 4">
    <p>Review your data and set a password</p>
    <form [formGroup]="registerForm">
        <input formControlName="password" type="password" placeholder="Password">
        <input formControlName="passwordConfirm" type="password" placeholder="Confirm Password">
    </form>
    <div ngClass="review">
        <p>First Name: {{registerForm.value.firstName}}</p>
        <p>Last Name: {{registerForm.value.lastName}}</p>
        <p>Email: {{registerForm.value.email}}</p>
        <br />
        <p>Company Name: {{companyForm.value.companyName}}</p>
        <p>Company Location: {{companyForm.value.companyLocation}}</p>
        <p>Company Description: {{companyForm.value.companyDescription}}</p>
    </div>
    <div ngClass="buttons">
        <button color="primary" (click)="setVisible(1)">Back</button>
        <button color="primary" (click)="register()">Register</button>
    </div>
</div>

<div ngClass="review" *ngIf="visible === 5">
    <p>Review your data</p>
    <div>
        <p>First Name: {{registerForm.value.firstName}}</p>
        <p>Last Name: {{registerForm.value.lastName}}</p>
        <p>Email: {{registerForm.value.email}}</p>
        <p>Joined company: {{joinedCompany}}</p>
    </div>
    <div ngClass="buttons">
        <button color="primary" (click)="setVisible(1)">Back</button>
        <button color="primary" (click)="register()">Register</button>
    </div>
</div>
{{this.message}}